<!DOCTYPE html>
<html>

  <head>
    <link href='/style.css' rel="stylesheet" type="text/css" />
  </head>

  <body>

    <h1> Hello there! 😀 </h1>

    <form action="/birthday" method="post">
      <div id="name">
        <label for="name">What's your name?</label>
        <input type="text" name="name">
      </div>
      <div id="date">
        <label for="date">When's your birthday?</label>
        <input type="number" name="day" min="1" max="31">
        <select name="month">
          <option value="january">January</option>
          <option value="february">February</option>
          <option value="march">March</option>
          <option value="april">April</option>
          <option value="may">May</option>
          <option value="june">June</option>
          <option value="july">July</option>
          <option value="august">August</option>
          <option value="september">September</option>
          <option value="october">October</option>
          <option value="november">November</option>
          <option value="december">December</option>
        </select>
      </div>
      <br>
      <div id="submit">
        <input type="submit" value="Go!">
      </div>
    </form>

  </body>

</html>
